
html *
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
  /*color:black;*/
}

@font-face {
	font-family: 'oswaldregular';
	src: url('../fonts/oswald-webfont.eot');
	src: url('../fonts/oswald-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/oswald-webfont.woff') format('woff'),  url('../fonts/oswald-webfont.ttf') format('truetype'),  url('../fonts/oswald-webfont.svg#oswaldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------- Layout styles ------------------------*/
body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background: url(../images/bg-body.jpg);
}
a {
	outline:none;
}
a img {
	border:0;
	display:block;
}

/*------------------------- Header ---------------------------*/
#header {
	background:url(../images/bg-header.png) repeat-x;
	height:184px;
	margin:15px 0 0;
}
#header div {
	margin:0 auto;
	padding:28px 0 0;
	position:relative;
	width:960px;
}

#header div a#logo {
	display:block;
	height:129px;
	margin:0 auto;
	width:587px;
}
#header div ul {
	height:100px;
	left:144px;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0;
	position:absolute;
	top:119px;
}
#header div ul li:first-child {
	margin:0;
}
#header div ul li {
	float:left;
	height:66px;
	margin:0 0 0 65px;
	text-align:left;
	position:relative;
}
#header div ul li a {
	color:#000;
	font-family:oswaldregular;
	font-size:18px;
	line-height:24px;
	text-decoration:none;
	text-transform:uppercase;
}
#header div ul li.selected a, #header div ul li a:hover {
	color:#af0000;
}

/*------------------------- Body ---------------------------*/
#body {
	background:none #000;
	margin-top:21px!important;
}
#body.home {
	border:1px solid #4f4f4f;
	margin:0 auto;
	width:958px;
  background-color:#fdf7e8;
}
#homeWall{
  background-color:#fceecc;
}
#homeWall h2{
  font-family:  oswaldregular;
  position: relative;
  left:45%;
}
#homeWall img{
		border:1px solid #4f4f4f;
		width:952px;
		background-color:#4f4f4f;

}
/*
#body.home div:first-child {


}
#body.home div:first-child div:first-child {
	border-bottom:1px solid #4f4f4f;
	border-right:1px solid #4f4f4f;
	float:left;
	padding:0 0 13px;
	width:958px;
}

#body.home div:first-child div:first-child h2 {
	margin:13px 0 0 20px;


}
#body.home div:first-child div:first-child h2 a {
	color:#fff;
	font-family:oswaldregular;
	font-size:18px;
	font-style:normal;
	font-weight:400;
	line-height:18px;
	margin:0;
	text-decoration:none;
	text-transform:uppercase;
}
#body.home div:first-child  h2 {
	margin:13px 0 0 0;
	text-align:center;
	padding-bottom:15px;
}
#body.home div:first-child  h2 a {
	color:#000;
	font-family:oswaldregular;
	font-size:25px;
	font-style:normal;
	font-weight:400;
	line-height:18px;
	margin:0;
	text-decoration:none;
	text-transform:uppercase;
}*/
/*
#body.home div:first-child div:first-child p {
	color:#a5a5a5;
	font-size:12px;
	line-height:18px;
	margin:16px 0;
	padding:0 30px 0 20px;
}
#body.home div:first-child div:first-child p a {
	color:#a5a5a5;
	font-style:normal;
	margin:0;
	text-decoration:underline;
}
#body.home div:first-child div:first-child a {
	color:#af0000;
	font-size:12px;
	font-style:italic;
	line-height:18px;
	margin:0 0 0 20px;
	text-decoration:none;
}
#body.home div:first-child div:first-child a:hover {
	color:#ff0000;
	text-decoration:none!important;
}
#body.home div:first-child ul {
	border-bottom:1px solid #4f4f4f;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0;
}

*/
#body.home div:first-child ul li:first-child {
	border:none;
}

#body.home div:first-child ul li {
	border-left:1px solid #4f4f4f;
	float:left;
	width:auto;
}


#body.home div {
	border-bottom:none;
	overflow:hidden;
}
#body.home div div:first-child {
	border-bottom:none;
	border-right:1px solid #4f4f4f;
	float:left;
	width:479px;
}

#body.home div div:first-child ul {
	border-bottom:none;
}
#body.home div div:first-child ul li:first-child {
	width:238px;
}
#body.home div div:first-child ul li {
	border-right:1px solid #4f4f4f;
	min-height:287px;
	padding:0;
	width:239px;
}

#body.home div div:first-child ul li h4 {
	margin:9px 30px 0 20px;
}
#body.home div div:first-child ul li h4 {
	color:black;
	float:none;
	font-size:14px;
	font-style:normal;
	font-weight:700;
	line-height:18px;
	text-decoration:none;
}
#body.home div.njoftimeDiv h3{
  font-family: oswaldregular;
}
#body.home div.reklamaDiv h3{
  font-family: oswaldregular;
}
#body.home div div:first-child ul li p {
	color:black;
	font-size:12px;
	line-height:18px;
	margin:1px 30px 0 20px;
}

#body.home div div {
	float:left;
	width:478px;
}
#body.home div div h3 a {
	color:black;
	font-family:oswaldregular;
	font-size:18px;
	font-style:normal;
	font-weight:400;
	line-height:18px;
	text-decoration:none;
	text-transform:uppercase;
}
#body.home div div ul {
	list-style:none;
	margin:0;
	padding:0;
}
#body.home div div ul li {
	border-top:1px solid #4f4f4f;
	overflow:hidden;
}
#body.home div div ul li a {
	display:block;
	float:left;
	margin:0 20px 0 0;
}
#body.home div div ul li a img {
	border-right:1px solid #4f4f4f;
}
#body.home div div ul li div {
	width:298px;
}

#body.home div div ul li div h4 {
	color:black;
	float:none;
	font-size:14px;
	line-height:16px;
	text-decoration:none;
  font-weight: bold;
}

#body.home div div ul li div p {
	color:black;
	font-size:12px;
	line-height:18px;
	margin:2px 0 0;
}


#body.movies {
	border:1px solid #4F4F4F;
	margin:0 auto 56px;
	overflow:hidden;
	width:958px;
  background-color:#fdf7e8;
  color:black;
}
#body.movies h2 {
	color:black;
	font-family:oswaldregular;
	font-size:30px;
	font-weight:400;
	margin:21px 0;
	padding:0 0 0 20px;
	text-transform:uppercase;
}
#body.movies div.filmi{
		border:1px solid #4F4F4F;
		width:956px;
		height:400px;
		float:left;
		padding-top:15px;
    font-family:serif;
	}
#body.movies div.filmi img{
		width:260px;
		height:380px;
		float:left;
		margin-right:10px;
		margin-left:10px;
		border:1px solid white;
	}
  #body.movies div.filmi em{
  	font-weight: bold;
  	}
  #body.movies div.filmi a :hover{
      font-color:blue;
  }

#body.about {
	border:1px solid #4F4F4F;
	margin:0 auto 47px;
	overflow:hidden;
	width:958px;
  color:black;
  background-color:#fdf7e8;
}
#body.about h2{
	font-family: oswaldregular;
}
#body.about div {
	border-top:1px solid #4F4F4F;
	overflow:hidden;
}
#body.about div div {
	border-left:0;
	border-top:0;
	width:479px;
}
#body.about div div h3 {

	font-size:12px;
	font-weight:400;
	line-height:18px;
	margin:0;
	padding:20px;
}
#body.about div div p {
	color:black;
	font-size:12px;
	line-height:18px;
	margin:0;
	padding:0 20px;
}
#body.about div div {
	border-left:1px solid #4F4F4F;
	border-top:0 none;
	float:left;
	min-height:860px;
	padding:0 0 20px;
	width:478px;
}
#body.about div div h4 {

	font-family:oswaldregular;
	font-size:18px;
	font-weight:400;
	margin:26px 0;
	padding:0 0 0 20px;
	text-transform:uppercase;
}
#body.about div div img {
	border-bottom:1px solid #4F4F4F;
	border-top:1px solid #4F4F4F;
	display:block;
}
#body.about div div span {
	color:black;
	display:block;
	font-family:inherit;
	font-size:12px;
	line-height:25px;
	margin:15px 25px 0 20px;
	padding:0 0 0 50px;
}
#body.about div div span.address {
	background:url(../images/icon-address.png);
  background-repeat: no-repeat;
	height:25px;
}
#body.about div div span.phone-num {
	background:url(../images/icon-phone-num.png);
  background-repeat: no-repeat;
	height:25px;
}
#body.about div div span.fax-num {
	background:url(../images/icon-fax.png);
  background-repeat: no-repeat;
	height:24px;
}
#body.about div div span.email {
	background:url(../images/icon-email.png) ;
  background-repeat: no-repeat;
	height:24px;
}


/*------------------------- Footer ---------------------------*/
#footer {
	background:url(../images/bg-footer.png) repeat-x left bottom;
	clear:both;
	height: 47px;/*217px;*/
	margin:27px 0 0;
}
#footer div {
	margin:0 auto;
	overflow:hidden;
	width:960px;
}


#footer div div span {
	color:#fff;
	font-size:12px;
	font-weight:700;
	line-height:18px;
}
#footer div div ul {
	list-style:none;
	margin:0;
	padding:0;
}
#footer div div ul li {
	width:285px;
}
#footer div div ul li p {
	color:#a5a5a5;
	float:none;
	font-size:11px;
	line-height:18px;
	margin:18px 0 0;
}
#footer div div ul li span a {
	color:#af0000;
	display:inline-block;
	font-size:11px;
	font-style:italic;
	font-weight:400;
	text-decoration:none;
}
#footer div div ul li span a:hover {
	color:#ff0000;
	text-decoration:none!important;
}
#footer div div p {
	color:#a5a5a5;
	float:none;
	font-size:11px;
	line-height:18px;
	margin:18px 0 0;
	width:auto;

}
#footer div div p a {
	color:#a5a5a5;
}

#footer div p {
	clear:both;
	color:white; /*#a5a5a5;*/
	float:left;
	font-size:11px;
	line-height:10px;
	margin-top:8px;
	width:300px;
}
#footer div div.connect {
	border:0;
	float:right;
	height:auto;
	margin:4px 10px 0 0;
	min-height:0;
	width:auto;
}
#footer div div.connect span {
	color: white; /*#a5a5a5;*/
	float:left;
	font-size:11px;
	font-weight:400;
	line-height:18px;
	margin:0 13px 0 0;
}
#footer div div.connect a {
	display:block;
	float:left;
	text-indent:-99999px;
}
#footer div div.connect a#facebook {
	background:url(../images/icons.png) no-repeat 0 0;
	height:17px;
	width:9px;
}
#footer div div.connect a#facebook:hover {
	background:url(../images/icons.png) no-repeat 0 -90px;
}
#footer div div.connect a#twitter {
	background:url(../images/icons.png) no-repeat 0 -18px;
	height:17px;
	margin:0 15px 0 16px;
	width:18px;
}
#footer div div.connect a#twitter:hover {
	background:url(../images/icons.png) no-repeat 0 -54px;
}
#footer div div.connect a#googleplus {
	background:url(../images/icons.png) no-repeat 0 -36px;
	height:17px;
	width:17px;
}
#footer div div.connect a#googleplus:hover {
	background:url(../images/icons.png) no-repeat 0 -72px;
}

/*********       Regjistrim panel         ************/
.panelRegjistrim{
  width:400px;
  position:relative;
  left:30%;
  background-color: white;
}
.panelTrupi {
    padding: 15px;
    font-size: 15px;
}
.formRresht {
    margin-bottom: 18px;
}

.formRresht label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

input.form-control {
    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

}

/*  Editime shtese */

.loguser{
	display:block;
	width:450px;
	height:60px;
	margin-left:250px;

}
.loguser input{
	width:250px;
	height:54px;
	margin:10px;
	margin-left:100px;
	display:block;
	background-color:#dbffad;
	font-size:1.3em;
}
.loginbtn{
	width:200px;
	height:54px;
	position:relative;
	left:270px;

}

.formline{
	display:block;
	width:450px;
	height:20px;
	margin-left:150px;
}
.formline label{
	color:white;

width:230px;
float:left;
	text-align:right;
}
.formline input{

	width:200px;
	position:relative;
	float:right;

}
.subres{
	position:relative;
	left:400px;

}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size:1.1em;
  padding: 12px 18px;
  text-decoration: none;
  margin: 4px 2px;

}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {

   background-color: #0fd190;
   border: 2px solid #054d26;
}

 #body.loginreg{
	margin:0 auto 60px;
	overflow:hidden;
	width:958px;
  height:auto;
  background-color: inherit;
}
#body.loginreg h2{
	color:#fff;
	font-family:oswaldregular;
	font-size:30px;
	font-weight:400;
	margin:21px 0;
	padding:0 0 0 20px;
	text-transform:uppercase;
}

#body.loginreg2{
	border:1px solid #4F4F4F;
	margin:0 auto 428px;
	overflow:hidden;
	width:958px;
    height:390px;
}
#body.loginreg2 h2 {
	color:#fff;
	font-family:oswaldregular;
	font-size:30px;
	font-weight:400;
	margin:21px 0;
	padding:0 0 0 20px;
	text-transform:uppercase;
}

.container_book{
	width:900px;
	/*background-color:red;*/
	height:1000px;

}
.movielist{
	width:240px;
	/*background-color:yellow;*/

	height:500px;
	float:left;
	padding-right:20px;
	padding-bottom:20px;
	margin-left:35px;
}
.titleM{
	/*background-color:blue;*/
	width:250px;
	height:60px;
	margin-bottom:20px;
	margin-right:5px;
}
.titleM p{
	text-align:center;
	font-size:16pt;
	padding-top:30px;
	font-weight:bold;
	color:black;
  font-family:'oswaldregular';
}
.photoM{
	/*background-color:green;*/
	width:250px;
	height:310px;
}
.photoM img{
	width:230px;
	height:310px;
	border:2px solid white;
}
.buton{
	/*background-color:white;*/
	width:250px;
	height:50px;
	/*border:1px solid black;*/
	text-align:center;
	padding-top:20px;

}
.btnlink{
	margin-top:20px;
}
.buton a{

	padding:5px;

	font-size:18px;
	color:white;
	text-decoration:none;
}
.btnlink a:hover{
	color: black;
	background-color: white;
}
/*Dashboard*/
#body.dashboard {
	border:1px solid #4F4F4F;
	margin:0 auto 428px;
	overflow:hidden;
	width:958px;
    height:380px;
}
#body.dashboard h1{

	color:white;
	font-size:1.7em;
	padding-left:20px;
}



#body.bookreport{
	border:1px solid #4F4F4F;
	margin:0 auto 428px;
	overflow:hidden;
	width:958px;
    height:580px;
	font-family: "Arial", Arial, Helvetica, sans-serif;
}
#body.bookreport table{
  color:black;
  width: 100%;
  border-collapse: collapse;
  font-size:0.8em;
}
#body.bookreport table td, #body.bookreport table th {
  border: 1px solid black;

}
#body.bookreport th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  font-size:1.2em;
}
#body.bookreport tr{background-color: #f2f2f2;}

#body.bookreport .imgtable{
	width:55px;
	height:80px;
	padding-left:15px;
}

/**************************************/
